body {
	max-width: 1100px;
	background-color: black;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 80px;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 20px;
}

a {
	text-decoration: none;
}

h1 {
	color: #f9faf8;
	font-size: 48px;
	font-weight: 900;
}

h2 {
	margin-top: 0;
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
}

h4 {
	margin: 0;
	font-size: 22px;
}

button {
	background-color: #3882f6;
	color: white;
	padding: 8px 30px;
	border-radius: 4px;
	border-style: none;
	font-size: 18px;
}

q {
	font-size: 36px;
	font-style: italic;
	font-weight: lighter;
	color: #1f2937;
}

footer {
	color: white;
	background-color: #1f2937;
	text-align: center;
	padding: 40px;
}

.hero {
	background-color: #1f2937;
}

.logo {
	font-size: 24px;
	color: #f9faf8;
}

.section1 {
	display: flex;
}

.hero-image {
	align-self: center;
	height: 280px;
}

.hero p,
a {
	color: #e5e7eb;
	font-size: 18px;
}

.hero {
	padding: 10px 40px 60px 40px;
}

.information-section {
	text-align: center;
	background-color: white;
	padding: 40px 70px 100px 70px;
}

.info-images {
	display: flex;
	justify-content: center;
}

.information-section img {
	height: 180px;
	border-radius: 8%;
}

.quote-section {
	background-color: #e5e7eb;
	display: flex;
	flex-direction: column;
	padding: 100px;
}

.quote {
	font-size: 36px;
	font-style: italic;
	font-weight: lighter;
	color: #1f2937;
	font-family: sans-serif;
	margin: 0 0 20px 0;
}

.author {
	font-size: 22px;
	font-weight: 900;
	align-self: flex-end;
	margin: 0;
}

.cta-section {
	color: white;
	background-color: white;
	padding: 90px 0;
}

.cta-container {
	background-color: #3882f6;
	width: 980px;
	border-radius: 4px;
	padding: 40px 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.cta-container button {
	border: 2px solid white;
	height: 40px;
}

.cta-container p {
	margin: 5px;
}

footer p {
	margin: 0;
}
